<!DOCTYPE html>
<!--suppress CheckEmptyScriptTag -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LTI Starter LOGIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Simple login page</h1>

<p th:if="${param.error != null}">Wrong user or password</p>

<form th:action="@{/form/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username"/> <br/>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>